<div class="table-responsive">

	<div id="wrap">

		<button id="addscenery" class="btn btn-primary">添加</button>

		<h3 id="table-title">
			热门景点管理表
		</h3>

		<div class="se-wrap">
			<select class="form-control" id="searchForm">
				<option value="1">搜索条件</option>
				<option value="2">景点名称</option>
				<option value="3">满意度</option>
				<option value="3">价格</option>
			</select>

			<div class="box" id="box">
				<input type="text" class="form-control" id="inputPassword" placeholder="请输入">
				<button type="submit" class="btn btn-default" id="searchBtn">搜索</button>
			</div>
		</div>
	</div>
	<table class="table table-striped">
		<!--<caption class="sub-header" id="table-title">
			热门景点管理表
		</caption>-->
		<thead>
			<tr>
				<th>ID</th>
				<th>景点图片</th>
				<th>景点名称</th>
				<th>满意度</th>
				<th>介绍</th>
				<th>价格</th>
				<th>评论数量</th>
				<th>标签</th>
				<th>等级</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id="sceneryList">

		</tbody>
	</table>

	<nav aria-label="Page navigation" class="navigation">
		<ul class="pagination" id="paginationCon">

		</ul>
	</nav>
</div>