  
  <div class="table-responsive">
  <caption class="sub-header">
  	热门景点管理表
  	<button id="addscenery" class="btn btn-primary">添加</button>
  </caption>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>景点图片</th>
          <th>景点名称</th>
          <th>满意度</th>
          <th>介绍</th>
          <th>价格</th>
          <th>评论数量</th>
          <th>标签</th>
          <th>等级</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="sceneryList">
        
      </tbody>
    </table>
    
    <nav aria-label="Page navigation">
      <ul class="pagination" id="paginationCon">

      </ul>
    </nav>
  </div>
