<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div class="panel-group" role="tablist">
        <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup1">
                用户管理
              </a>
            </h4>
          </div>
          <div id="collapseListGroup1" class="panel-collapse collapse" style="height: 0px;">
            <ul class="list-group">
              <li class="list-group-item"><a href="javascript:void(0)">所有用户</a></li>
              <li class="list-group-item"><a href="javascript:void(0)">添加用户</a></li>
              <li class="list-group-item"><a href="javascript:void(0)">我的个人资料</a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup2">
                商品管理
              </a>
            </h4>
          </div>
          <div id="collapseListGroup2" class="panel-collapse collapse" style="height: 0px;">
            <ul class="list-group">
              <li class="list-group-item"><a href="">Bootply</a></li>
              <li class="list-group-item"><a href="">One itmus ac facilin</a></li>
              <li class="list-group-item"><a href="">Second eros</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>