<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div class="panel-group" role="tablist">
        <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup1">
                <span class="glyphicon glyphicon-user" style="margin-right: 20px;"></span>用户管理
              </a>
            </h4>
          </div>
          <div id="collapseListGroup1" class="panel-collapse collapse" style="height: 0px;">
            <ul class="list-group">
              <li class="list-group-item" id="allUser"><a href="javascript:void(0)">所有用户</a></li>
              <li class="list-group-item" id="personData"><a href="javascript:void(0)">我的个人资料</a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup2">
            		 <span class="glyphicon glyphicon-tree-conifer"  style="margin-right: 20px;"></span>景点管理
              </a>
            </h4>
          </div>
          <div id="collapseListGroup2" class="panel-collapse collapse" style="height: 0px;">
            <ul class="list-group">
              <li class="list-group-item" id="hot"><a href="javascript:void(0)">热门景点</a></li>
              <li class="list-group-item" id="recommend"><a href="javascript:void(0)">周边推荐</a></li>
              <li class="list-group-item"><a href="javascript:void(0)">Second eros</a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup3">
                <span class="glyphicon glyphicon-globe" style="margin-right: 20px;"></span>大广场
              </a>
            </h4>
          </div>
          <div id="collapseListGroup3" class="panel-collapse collapse" style="height: 0px;">
            <ul class="list-group">
              <li class="list-group-item" id="squareBtn"><a href="javascript:void(0)">广场简报</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    </div>
  </div>
</div>