/*#addscenery,#addrecommend{
	position: absolute;
	top: 25px;
}
#table-title{
	text-align: center;
	font-size: 24px;
	color: #337AB7;
}
#searchForm{
	width: 110px;
	position: absolute;
	top: 25px;
	right: 300px;
}
#box{
	width: 160px;
	position: absolute;
	top: 25px;
	right: 120px;
}
#box input{
	width: 90px;
	display: inline-block;
}
#box button{
	width: 60px;
	display: inline-block;
	
}*/




#wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 45px;
	line-height: 45px;
	align-content: center;
}
#table-title{
	margin-top: 5px;
}
#box{
	width: 170px;
	display: flex;
	flex-direction: row;
}
#searchForm{
	width: 110px;
}
#box input{
	width: 90px;
}
#box button{
	width: 60px;
}
button{
	height: 34px;
}
.se-wrap{
	width: 300px;
	height: 34px;
	display: flex;
	flex-direction: row;
}

.navigation{
	text-align: right;
}
